@charset "UTF-8";

:root{
    --cor1: rgb(55, 123, 206);
    --cor2: rgb(4, 15, 114);
    --cor3: #04BF8A;
    --cor4: #008F8C;
    --cor5: #f0f8ff;
}

*,*:before,*:after{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    margin: 0%;
    padding: 0%;
    background-color: rgb(55, 123, 206);
}
#title{
    font-family: sans-serif;
    color: var(--cor5);
    text-align: center;
    margin-bottom: 20px;
    padding-top: 10px;
}
#subtitle{
    font-family: sans-serif;
    color: var(--cor5);
    text-align: center;
}
fieldset{
    border: 0px;
}
body{
    background-color: var(--cor5);
    font-family: sans-serif;
    font-size: 1em;
    color: var(--cor2);
    text-align: justify;
    background: linear-gradient(45deg, rgb(69, 102, 143) 7%, rgb(2, 37, 80) 100%);
    justify-content: center;
}
nav{
    background-color: #e0e0f8;
    height: 900px;
    width: 500px;
    display: block;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

/*.custom_radio{
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 12px;
    text-indent: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}*/

.custom_radio{
    /*position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;*/
    font-size: 15px;
    padding: 0.2em;
    user-select: none;  
    display: flex;  
}
input[type=radio]{
    user-select: none; /*Desabilita aquela chatisse de pesquisa com a palavra selecionada */
    appearance: none;
    margin: 0;    
    font: inherit;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid rgb(4, 15, 114);
    border-radius: 50%;
    transform: translateY(-0.075em);
    display:grid;
    place-content: center;
    margin-right: 5px;
    background-color: transparent;
    
}
input[type="radio"]::before{
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em rgb(3, 6, 167);
    
    
}
input[type="radio"]:checked::before {
    transform: scale(1);
}

.checkbox{
    font-size: 15px;
    display: flex;
    padding: 5px;
    user-select: none;
}
input[type="checkbox"]{
    appearance: none;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid rgb(4, 15, 114);
    border-radius: 10%;
    transform: translateY(-0.075em);
    display:grid;
    place-content: center;
    margin-right: 5px;
}
input[type="checkbox"]:before{
    content: "";
    position:relative;
    width: .9em;
    height: .9em;
    transform: scale(0);
    transition: 150ms transform ease-in-out;    
}
input[type="checkbox"]:checked::before {
    transform: scale(1);
    content:"\2714";
    position:relative;
    background-color: transparent;
    color:rgb(3, 6, 167);
    font-size: 25px;
    height:40px;
    width:10px;
    
}
input, select, textarea, button{
    border-radius: 5px;
}
.campo{
    margin-bottom: 1em;
}
.campo label{
    margin-bottom: 0.2em;
    color: var(--cor2);
    display: block;
}
fieldset.group.campo{
    float: left;
    margin-right: 1em;
}
.group1{
    columns: 2;
}
.date{
    display: flex;
    
}
input[type="date"]{
    width: 170px;
    height: 25px;
}
.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea{
    padding: 0.2em;
    border: 1px solid var(--cor2);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
} 
.campo select option{
    padding-right: 1em;
}
.campo input:focus, .campo select:focus, .campo textarea:focus{
    background-color: #f3f6ffd7;
}
.botao{
    font-size: 1.2em;
    background-color: rgb(55, 123, 206);
    color: #ffffff;
    border: 0px;
    width: 200px;
    height: 30px;
    margin-bottom: 1em;
    margin-top: 20px;
    padding: 0.2em 0.6em;
    position: absolute;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2) ;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    top: auto;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.botao:hover{
    background-color: rgb(45, 94, 154);
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}
.botao, select{
    cursor: pointer;
}
#check{
    display: inline-block;
}