@charset "UTF-8";

:root{
    --cor1: #380861;
    --cor2: #59429d;
    --cor3: #04BF8A;
    --cor4: #008F8C;
    --cor5: #f0f8ff;
}

*{
    margin: 0%;
    padding: 0%;
}
header{
    margin: 0%;
    padding: 0%;
    background-color: #380861;
}
#title{
    font-family: sans-serif;
    color: var(--cor5);
    text-align: center;
    margin-bottom: 10px;
    padding-top: 10px;
}
#subtitle{
    font-family: sans-serif;
    color: var(--cor5);
    text-align: center;
}
fieldset{
    border: 0px;
}
.radio{
    display: flex;
    vertical-align: middle;
    padding: 1px;
}
body{
    background-color: var(--cor5);
    font-family: sans-serif;
    font-size: 1em;
    color: var(--cor2);
    text-align: justify;
    background-color: #ccbbff;
    justify-content: center;
}
nav{
    background-color: #e0e0f8;
    height: 700px;
    width: 400px;
    display: block;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

input, select, textarea, button{
    border-radius: 5px;
}
.campo{
    margin-bottom: 20px;
}
.campo label{
    margin-bottom: 0.2em;
    color: var(--cor2);
    display: block;
}
fieldset.group.campo{
    float: left;
    margin-right: 1em;
}
.group1{
    columns: 2;
}
.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea{
    padding: 0.2em;
    border: 1px solid var(--cor2);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
} 
.campo select option{
    padding-right: 1em;
}
.campo input:focus, .campo select:focus, .campo textarea:focus{
    background-color: #e0e0f8;
}

.botao{
    font-size: 1.2em;
    background-color: var(--cor2);
    color: #ffffff;
    border: 0px;
    margin-bottom: 1em;
    padding: 0.2em 0.6em;
    position: absolute;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2) ;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.botao:hover{
    background-color: #ccbbff;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}
.botao, select{
    cursor: pointer;
}
#check{
    display: inline-block;
}
.textarea{
    padding-bottom: 10px;
}
