@charset "UTF-8";

*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0px;
    margin: 0%;
}
body{
    
}
